[submodule "lib/tomlc99"]
	path = lib/tomlc99
	url = https://github.com/cktan/tomlc99.git
[submodule "lib/xxHash"]
	path = lib/xxHash
	url = https://github.com/Cyan4973/xxHash.git
[submodule "lib/logc"]
	path = lib/logc
	url = https://github.com/rxi/log.c.git

